// Navbars

.bg {
  &-dark {
    @include set-background($dark-color);
    a {
      @include set-color(#fff);
    }
  }
}

//floats
.f-right {
  float: right;
}
.f-left {
  float: left;
}
//border-radius
.no-border-radius {
  border-radius: 0;
}
//
.color-compl {
  color: #979797;
}
//flex
.justify-content-evenly {
  justify-content: space-evenly !important;
}
