$primary-color: #ffcd00;
$secondary-color: #3a6fcd;
$third-color: #2c2f40;
$dark-color: #333333;
$light-color: #f4f4f4;
$danger-color: #f14436;
$success-color: #42b965;

//Grid
$grid-breakpoints: (
  // Extra small screen / phone
    xs: 0,
  // Small screen / phone
    sm: 576px,
  // Medium screen / tablet
    md: 768px,
  // Large screen / desktop
    lg: 992px,
  // Extra large screen / wide desktop
    xl: 1200px
);
