.cambio-datos {
  &-status {
    font-weight: 300;
    border-radius: 20px;
    padding: 0.2rem 0rem;
    width: 100%;
    display: inline-flex !important;
  }
}
@include media-query(map-get($grid-breakpoints, "lg")) {
  .cambio-datos {
    &-actions-container {
      > div {
        &:first-child {
          width: 107%;
        }
      }
    }
    &-status {
      display: flex !important;
      i {
        padding-left: 5px;
      }
    }
  }
}
