// Estilos globales del dashboard de usuario, cualquier cambio especifico se deberia llevar aqui por orden,
// en este caso home es diferente a los demas por tanto se indica el cambio
.dashboard-header {
  padding: 2.5rem 1.25rem;
  height: auto;
  border: inherit;
  border-radius: 0;
  margin: 0;
  color: #fff;
  h2 {
    font-weight: bold;
    font-size: 2.5rem;
  }

  p {
    font-size: 1.2rem;

    text-align: center;
    font-weight: 300;
  }
  &-container {
    height: 30vh;
    background-color: $secondary-color;
  }
  &-title {
    padding: 0;
    color: #fff;
    a {
      color: #fff;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &-container.home {
    height: 45vh;
  }
}

.dashboard {
  &-container {
    position: relative;
  }
  &-content {
    position: absolute;
    top: -150px;
    width: 100%;
  }
  &-content.home {
    top: -75px;

    section.dashboard-menu-container {
      padding: 0;
    }
  }

  &-home {
    background-color: #fff;
    margin-top: 2rem;
    padding: 2rem;
    margin-bottom: 2rem;
    .btn-consultar {
      padding: 0.75rem;
    }
  }
  &-menu-container {
    padding: 0;
  }
  &-menu-wrapper {
    > .row {
      width: 100%;
      margin: 0;
      > .col-md-12 {
        padding: 0;
        .navbar {
          padding: 0;
        }
      }
    }
    .dashboard-menu {
      width: 100%;

      > .nav-item {
        padding: 0;

        .nav-link {
          border-top: inherit;
          border-left: inherit;
        }
      }
    }

    .dashboard-menu-item {
      position: relative;
      z-index: 10;
      background-color: #fff;
      padding: 2.5rem;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-right: 1px solid #d9d9d9;
      border-bottom: 1px solid #d9d9d9;
      border-radius: 0;
      color: $third-color;
      &-last {
        border-right: inherit;
      }
      &:hover {
        color: $third-color;
        background-color: #f5f5f5;
      }
      &-active {
        color: $third-color;
        background-color: $primary-color;
        &:hover {
          color: $third-color;
          background-color: $primary-color;
        }
      }
      i {
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
      }
    }
    .dropdown-dashboard-menu {
      margin: 0;
      z-index: initial;
      position: initial;
      border: inherit;
      width: 100%;
      padding: 2rem;
      a {
        border-radius: 0;
        margin-right: 1rem;
        padding: 0.7rem 1rem;
        color: $third-color;
      }
      &.dropdown-panama,
      &.dropdown-empresas,
      &.dropdown-usuarios {
        position: relative;
        top: 0;
      }
      &.dropdown-panama {
        left: -100%;
      }
      &.dropdown-usuarios {
        left: -200%;
      }
      &.dropdown-empresas {
        left: -300%;
      }
    }
  }
}

//datatable
.table-container {
  .row {
    width: 100%;
  }
  .table {
    tbody {
      td {
        padding: 0.7rem 1rem;
        > div.contract-btn-container {
          text-align: center;
          .btn {
            border-radius: 50%;
          }
        }
        > div.confirmar-contrato-chofer {
          button {
            width: 110px;
            padding: 0.3rem 0.1rem;

            span {
              display: flex;
              align-items: center;
              justify-content: center;
            }
            font-size: 1rem;
          }
          span.contract-confirm {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
  .dataTables_wrapper {
    .row {
      margin: 0;
    }
  }
  .dataTables_scrollBody::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #fff;
  }

  .dataTables_scrollBody::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
    position: relative;
    left: 12px;
  }

  .dataTables_scrollBody::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #e3e3e3;
  }

  .pagination {
    border-top: 1px solid #c9c9c9;
    width: calc(100% - 12px);
    border-radius: 0;
    position: relative;
    top: -2px;
    padding-top: 1rem;
    &:before {
      content: 'Página:';
      display: flex;
      align-items: center;
      padding-right: 1rem;
    }
    li.previous {
      order: 1;
      margin-left: 1rem;
    }
    li {
      a {
        border: inherit;
      }
    }
  }
}

//Mobile
@include media-query(map-get($grid-breakpoints, 'lg')) {
  .table-container {
    .pagination {
      flex-wrap: wrap;
    }
  }
}
@include media-query(map-get($grid-breakpoints, 'md')) {
  .dashboard {
    &-menu {
      .dropdown-dashboard-menu {
        position: absolute;
        z-index: 10;
        top: 100%;
        &.slideInDown {
          @keyframes slideInDown {
            0% {
              -webkit-transform: translate3d(0, -100%, 0);
              transform: translate3d(0, -100%, 0);
              visibility: visible;
            }

            to {
              -webkit-transform: translateZ(0);
              transform: translateZ(0);
            }
          }
        }
      }
    }
  }
}
