.dark-overlay{
    background-color: rgba(47, 79, 79, 1);
}
.img-cover.signform{
    background-image: url('http://www.scalsys.com/wallpaper/Panama-City-Wallpapers/Panama-City-Wallpapers_827921.jpg');
    opacity: 0.2;
}