//Esta página hereda estilos de _dashboard.sccs, cualquier cambio a los estilos de dashboard
// o dashboardheader deben ser indicados allá
.reportar-chofer {
  &-filter {
    input {
      width: 80%;
      padding: 1.5rem 1rem;
    }
    button {
      padding: 0.5rem 3rem;
      height: 44px;
    }
  }
}
