

.container-fluid.footer{
   border:none;
   padding:0;
   
   .box{
       margin:0;
   }
   &.footer-dashboard{
    position: relative;
    top:-100px;
    &.home{
        top:-25px
    }
   }
}

@include media-query(map-get($grid-breakpoints, "md")) {
    .container-fluid.footer.footer-dashboard{
        .footer-dashboard-copyright{
            text-align: center;
        }
    }
  }