// Buttons//

.btn {
  &-primary {
    @include custom-button($primary-color, $third-color);
  }
  &-secondary {
    @include custom-button($secondary-color);
  }
  &-danger {
    background-color: $danger-color;
    &.static {
      border: none;

      &:hover {
        background-color: $danger-color;
        border: none;
        box-shadow: none;
      }
      &:not(:disabled):not(.disabled):active:focus {
        box-shadow: none;
      }
      &:not(:disabled):not(.disabled):active {
        background-color: $danger-color;
      }
    }
  }
  &-success {
    background-color: $success-color;
    border-radius: 0;
    &.static {
      border: none;

      &:hover {
        background-color: $success-color;
        border: none;
        box-shadow: none;
      }
      &:not(:disabled):not(.disabled):active:focus {
        box-shadow: none;
      }
      &:not(:disabled):not(.disabled):active,
      &:not(:disabled):not(.disabled):focus {
        background-color: $success-color;
      }
      &:active {
        background-color: $success-color;
      }
    }
  }
  &-static {
    cursor: inherit !important;
    &:focus,
    &:active {
      box-shadow: none;
    }
  }
  &-light {
    border: 1px solid #dbdbdb;
    border-radius: 0;
  }
}

//outline buttons//
.outlined {
  background-color: transparent;
}
